@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');


.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: x-large;
}

.chainSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
  padding: 5vh 0;
  gap: 50px;
  position: relative;

  img {
    position: absolute;
    transition: 500ms;
    z-index: -1;

    &.active {
      opacity: 1 !important;
    }

    &:first-of-type {
      left: 17%;
      opacity: 0;
      transform: translateX(-50%) scaleX(1) scale(.8);
      width: 220px;

      &.active {
        transform: translateX(0) scaleX(-1) scale(1) rotateZ(15deg) !important;
      }
    }

    &:last-of-type {
      right: 17%;
      opacity: 0;
      transform: translateX(+50%) scaleX(-1) scale(.8);
      width: 250px;

      &.active {
        transform: translateX(0) scaleX(1) scale(1) !important;
      }
    }
  }

  button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: large;
    background: transparent;
    color: white;
    border: none;
    opacity: .2;
    transition: 300ms;
    transform: scale(.9);

    border: 2px solid rgb(125, 50, 136);
    border-radius: 5px;

    &.active {
      transform: scale(1.2);
      opacity: 1;

      &:focus,
      &:hover {
        opacity: 1;
      }
    }

    &:focus,
    &:hover {
      opacity: .8;
    }


    padding: 10px;
    cursor: pointer;
  }
}

.table {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: larger;


  .tableBody {
    .tableRow {
      // background-color: #f2f2f2;
      padding: 5px 0;

      &:hover {
        background: linear-gradient(40deg, rgb(125, 50, 136), transparent);
      }
    }

    .tableCell {
      &:first-of-type {
        font-weight: 800;

        &::before {
          content: '#'
        }
      }

      &:last-of-type {
        font-weight: 800;
      }
    }
  }

  .tableRow {
    display: flex;
    border-bottom: 1px solid #ffffff77;

    &.header {
      border-bottom: 2px solid white;
      font-weight: 800;
    }

    .tableCell {
      flex: 1;
      padding: 8px;

      display: flex;
      align-items: center;


      &.name {
        flex: 2;

        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          margin-right: 20px;
        }
      }
    }
  }
}

footer {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10vh;
  padding: 2vh 0;
  text-align: center;
  font-size: large;
  font-weight: 400;
  color: rgb(136, 74, 146);

  a {
    color: rgb(125, 50, 136);
    text-decoration: none;

    &:hover {
      color: rgb(125, 50, 136);
      color: white;
    }
  }
}